/* =========================
   RESET
========================= */

* {

    box-sizing: border-box;

}


/* =========================
   BODY
========================= */

body {

    margin: 0;

    min-height: 100vh;

    font-family: Arial, sans-serif;

   background-image:
        url("../assets/backgrounds/amarillooo.png");

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

}


/* =========================
   CONTENEDOR
========================= */

.container {

    width: 90%;

    max-width: 500px;

    text-align: center;

}


/* =========================
   TITULO
========================= */

header h1 {

    font-size: 34px;

    margin-bottom: 10px;

}


/* =========================
   SUBTITULO
========================= */

header p {

    font-size: 18px;

    opacity: .9;

    line-height: 1.4;

}


/* =========================
   PANEL PRINCIPAL
========================= */

.invite-box {

    margin-top: 35px;

    padding: 35px 25px;

    background:
        rgba(255,255,255,0.12);

    border-radius: 25px;

    box-shadow:
        0 0 30px rgba(0,0,0,.4);

}


/* =========================
   AREA DE BUSQUEDA
========================= */

.search-area {

    display: flex;

    flex-direction: column;

    gap: 20px;

}


/* =========================
   CAMPO DE TEXTO
========================= */

input {

    width: 100%;

    padding: 16px;

    border-radius: 20px;

    border: none;

    outline: none;

    font-size: 18px;

    text-align: center;

    background:
        rgba(255,255,255,.9);

}


input::placeholder {

    color: #777;

}


/* =========================
   BOTON INVITAR
========================= */

#inviteBtn {

    display: block;

    width: 140px;

    margin: 0 auto;

    padding: 0;

    border: none;

    outline: none;

    background: transparent;

    box-shadow: none;

    cursor: pointer;

    appearance: none;

    -webkit-appearance: none;

}


/* PNG DEL BOTON */

#inviteBtn img {

    display: block;

    width: 100%;

    height: auto;

    border: none;

    background: transparent;

    transition:
        transform .25s ease;

}


/* EFECTO AL PASAR EL MOUSE */

#inviteBtn:hover img {

    transform: scale(1.06);

}


/* EFECTO AL PRESIONAR */

#inviteBtn:active img {

    transform: scale(.94);

}


/* BOTON DESACTIVADO */

#inviteBtn:disabled {

    opacity: .7;

    cursor: not-allowed;

    background: transparent;

}


/* =========================
   MENSAJE
========================= */

#status {

    margin-top: 25px;

    font-size: 18px;

    min-height: 30px;

}


/* =========================
   BOTON VOLVER
========================= */

.back-btn {

    margin-top: 30px;

    background: transparent;

    border: none;

    color: white;

    font-size: 18px;

    cursor: pointer;

}


/* EFECTO VOLVER */

.back-btn:hover {

    transform: scale(1.05);

}


.back-btn:active {

    transform: scale(.95);

}