body{

    margin:0;

    overflow:hidden;

    background:black;

    font-family:Arial;

}


/* INTERFAZ PNG */

#ui{

    position:fixed;

    inset:0;

    width:100vw;

    height:100vh;

    object-fit:fill;

    z-index:-1;

}

/* VIDEO DEL PERSONAJE */

#viewer{

    position:absolute;

    /* aquí pondremos la posición del recuadro derecho */

}


#characterVideo{

    width:100%;

    height:100%;

    object-fit:contain;

}


/* TEXTO */

#skinName{

    position:absolute;

}


#skinDescription{

    position:absolute;

}


/* BOTÓN */

#equipBtn{

    position:absolute;

    cursor:pointer;

    transition:.15s;

}


#equipBtn:hover{

    transform:scale(1.05);

}