*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#050816;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
    overflow:hidden;

}

#stars{

    position:fixed;
    inset:0;

    background:
    radial-gradient(circle,#ffffff 1px,transparent 1px);

    background-size:45px 45px;

    opacity:.2;

    animation:stars 35s linear infinite;

    z-index:-1;

}

@keyframes stars{

    from{transform:translateY(0);}
    to{transform:translateY(45px);}

}

.panel{

    width:90%;
    max-width:500px;

    margin:40px auto;

    background:#ff89e5;

    border-radius:20px;

    padding:30px;

    box-shadow:0 0 25px rgba(163, 131, 161, 0.2);

}

h1{

    text-align:center;

    margin-bottom:30px;

    text-shadow:0 0 15px cyan;

}

.option{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin:20px 0;

    font-size:20px;

}

select{

    padding:8px;

    border:none;

    border-radius:10px;

}

.switch{

    position:relative;

    display:inline-block;

    width:60px;

    height:34px;

}

.switch input{

    display:none;

}

.slider{

    position:absolute;

    inset:0;

    background:#666;

    border-radius:34px;

    transition:.3s;

}

.slider::before{

    content:"";

    position:absolute;

    width:26px;

    height:26px;

    left:4px;

    top:4px;

    background:white;

    border-radius:50%;

    transition:.3s;

}

input:checked + .slider{

    background:#00d4ff;

}

input:checked + .slider::before{

    transform:translateX(26px);

}

.version{

    text-align:center;

    margin-top:35px;

    opacity:.7;

}

#back{

    width:100%;

    margin-top:30px;

    height:55px;

    border:none;

    border-radius:15px;

    background:hsl(80, 100%, 56%);

    color:rgb(0, 247, 255);

    font-size:20px;

    cursor:pointer;

}